<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autoConfig" type="AutoConfig.ConfigSection.AutoConfigConfigurationSection, AutoConfig"/>
  </configSections>
  <autoConfig>
    <environments>
      <!-- Change host to your macines host name to run demo with production settings. -->
      <add name="Production" host="YourHostName" file="~\Production.config"/>
    </environments>
  </autoConfig>
  <appSettings>
    <add key="TestSetting" value="this is the default value"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>