<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autoConfig" type="AutoConfig.ConfigSection.AutoConfigConfigurationSection, AutoConfig" />
    <section name="overridden" type="AutoConfig.Test.AutoConfigManagerTests.TestConfigurationSection, AutoConfig.Test"/>
    <section name="notOverridden" type="AutoConfig.Test.AutoConfigManagerTests.TestConfigurationSection, AutoConfig.Test"/>
  </configSections>

  <autoConfig culture="en-us">
    <environments>
      <add name="Environment1" host="NotUsedHost" file="AutoConfig.Test.Environment1.config" />
      <add name="Environment2" host="AnotherHost|TestHost|YetAnotherHost" file="AutoConfig.Test.Environment2.config" />
      <add name="Environment3" ipAddress="192.168.1.1|127.0.0.1|192.168.0.1" file="AutoConfig.Test.Environment2.config" />
      <add name="Environment4" domain="AnotherDomain|TestDomain|YetAnotherDomain" file="AutoConfig.Test.Environment2.config" />
      <add name="Environment5" macAddress="0000000000000000|0001020304050607|9999999999999999" file="AutoConfig.Test.Environment2.config" />
      <add name="Encryption" host="EncryptedHost" file="AutoConfig.Test.Encryption.config" />
	  <add name="MissingFile" host="MissingFile" file="AutoConfig.Test.MissingFile.config" />
	</environments>
  </autoConfig>

  <notOverridden test="It is not overridden.">
  </notOverridden>

  <overridden test="It should be overridden.">
  </overridden>

  <appSettings>
    <add key="notOverridden" value="It is not overridden."/>
    <add key="overridden" value="It should be overridden."/>

    <add key="int32" value="42" />
    <add key="doubleSwedishCulture" value="42,42"/>

	<add key="numericEnum" value="1"/>
	<add key="stringEnum" value="One" />
	<add key="stringEnumWrongCase" value="oNe" />
	<add key="undefinedNumericEnum" value="3" />
	<add key="undefinedStringEnum" value="Three" />

	<add key="emptyString" value="" />
    <add key="string" value="forty-two" />
	  
	<add key="invalidType" value="AutoConfig.Test.ConfigurationSerializerTests.DerivedClass2"/>
	<add key="validType" value="AutoConfig.Test.ConfigurationSerializerTests.DerivedClass"/>
	<add key="nullType" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="notOverriddenConnection" connectionString="It is not overridden."/>
    <add name="overriddenConnection" connectionString="It should be overridden."/>
    <add name="testConnectionString" connectionString="Driver=ODBCDriver;server=TestServer;" providerName="System.Data.Odbc"/>
  </connectionStrings>
</configuration>
