<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autoConfig" type="AutoConfig.ConfigSection.AutoConfigConfigurationSection, AutoConfig" />
    <section name="overridden" type="AutoConfig.Test.TestConfigurationSection, AutoConfig.Test"/>
    <section name="notOverridden" type="AutoConfig.Test.TestConfigurationSection, AutoConfig.Test"/>
  </configSections>

  <autoConfig culture="en-us">
    <environments>
      <add name="Environment1" host="NotUsedHost" file="AutoConfig.Test.Environment1.config" />
      <add name="Environment2" host="AnotherHost|TestHost|YetAnotherHost" file="AutoConfig.Test.Environment2.config" />
      <add name="Environment3" ipAddress="192.168.1.1|127.0.0.1|192.168.0.1" file="AutoConfig.Test.Environment2.config" />
      <add name="Environment4" domain="AnotherDomain|TestDomain|YetAnotherDomain" file="AutoConfig.Test.Environment2.config" />
      <add name="Environment5" macAddress="000000000000|000102030405|999999999999" file="AutoConfig.Test.Environment2.config" />
      <add name="Encryption" host="EncryptedHost" file="AutoConfig.Test.Encryption.config" />
    </environments>
  </autoConfig>

  <notOverridden test="It is not overridden.">
  </notOverridden>

  <overridden test="It should be overridden.">
  </overridden>

  <appSettings>
    <add key="notOverridden" value="It is not overridden."/>
    <add key="overridden" value="It should be overridden."/>

    <add key="testInt32ThrowsExceptionWhenValueIsEmptyString" value="" />
    <add key="testInt32ReturnsValue" value="42" />
    <add key="testNullableInt32ReturnsNullWhenValueIsEmptyString" value="" />
    <add key="testNullableInt32ReturnsValue" value="42" />

    <add key="testDoubleThrowsExceptionWhenValueIsEmptyString" value="" />
    <add key="testDoubleReturnsValue" value="42.42" />
    <add key="testDoubleReturnsValueOtherCulture" value="42,42"/>
    <add key="testNullableDoubleReturnsNullWhenValueIsEmptyString" value="" />
    <add key="testNullableDoubleReturnsValue" value="42.42" />

    <add key="testStringReturnsValueWhenValueIsEmptyString" value="" />
    <add key="testStringReturnsValue" value="forty-two" />

  </appSettings>

  <connectionStrings>
    <add name="notOverriddenConnection" connectionString="It is not overridden."/>
    <add name="overriddenConnection" connectionString="It should be overridden."/>
    <add name="testConnectionString" connectionString="Driver=ODBCDriver;server=TestServer;" providerName="System.Data.Odbc"/>
  </connectionStrings>
</configuration>
