<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="overridden" type="AutoConfig.Test.AutoConfigManagerTests.TestConfigurationSection, AutoConfig.Test"/>
  </configSections>

  <appSettings>
    <add key="overridden" value="It is overridden, but wrong environment."/>
  </appSettings>

  <overridden test="It is overridden, but wrong environment.">
  </overridden>

  <connectionStrings>
    <add name="overriddenconnection" connectionString="It is overridden, but wrong environment." />
  </connectionStrings>
</configuration>