<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="overridden" type="AutoConfig.Test.AutoConfigManagerTests.TestConfigurationSection, AutoConfig.Test"/>
    <section name="environmentSpecific" type="AutoConfig.Test.AutoConfigManagerTests.TestConfigurationSection, AutoConfig.Test"/>
  </configSections>

  <overridden test="It is overridden.">
  </overridden>

  <environmentSpecific test="It is environment specific.">
  </environmentSpecific>

  <appSettings>
    <add key="overridden" value="It is overridden."/>
    <add key="environmentSpecific" value="It is environment specific."/>
  </appSettings>

  <connectionStrings>
    <add name="overriddenconnection" connectionString="It is overridden." />
    <add name="environmentSpecificconnection" connectionString="It is environment specific."/>
  </connectionStrings>

</configuration>