<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autoConfig" type="AutoConfig.ConfigSection.AutoConfigConfigurationSection, AutoConfig"/>
  </configSections>
  
  <autoConfig>
    <environments>
      <!-- Change host to your macines host name to run demo with production settings. -->
      <add name="Production" host="SESOOD0030075" file="~\Production.config"/>
    </environments>
  </autoConfig>

  <appSettings>
    <add key="TestSetting" value="this is the default value"/>
  </appSettings>

  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>
