@{
    ViewBag.Title = "Home Page";
}

<h1>This demo is running in the @AutoConfig.AutoConfigManager.Environment.Name environment.</h1> 
<p>The application setting TestSetting is set to "@System.Configuration.ConfigurationManager.AppSettings["TestSetting"]".</p>
